* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}

#container {
	width: 100%;
	height: calc(100% - 50px);
	overflow: auto;
}

h1, h2 {
	font-family: 'Nova Round', cursive;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

.playingIcon {
	margin: 10px;
}
.hide {
	visibility: hidden;
}

.horizontalCenter {
	display: flex;
	justify-content: center;
}
.verticalCenter {
	display: flex;
	align-items: center;
}

p {
	margin-left: 20px;
	margin-right: 20px;
}

table {
	border-collapse: collapse;
	text-align: center;
}
th, td {
	border: 1px solid black;
	width: 50px;
}
.normalWeight {
	font-weight: normal;
}
.topLeftNoBorder {
	border-top: none;
	border-left: none;
}
.sideways {
	transform: rotate(-90deg);
}

.playingIcon {
	width: 30px;
}
.playingIcon img {
	width: 100%;
}

.componentsContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.component {
	margin: 5px;
	height: 80px;
	border: 1px solid #999999;
}
.component img {
	height: 100%;
	float: left;
}

.breakdown .keySignature {
	overflow: hidden;
	float: left;
	border-bottom: 1px solid #999999;
}
.breakdown .keySignature div {
	width: 40px;
	height: 80px;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
.breakdown .keySignature img {
	height: 100%;
}
.breakdown .breakdownNotation {
	line-height: 0;
	float: left;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.breakdownBarDiv {
	width: 80px;
	height: 80px;
	float: left;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
.breakdownBarDiv img {
	height: 100%;
}

#temporary {
	display: none;
}

.redFill {
	fill: red;
}

#controls {
	height: 50px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid black;
	padding: 5px;
}
#playPause {
	width: 100px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}
#scrollToSection {
	margin-left: 10px;
}

@media all and (min-width: 1460px) {
	.keySignature, .breakdown .breakdownNotation {
		height: 160px;
	}
	.fourBreak {
		display: none;
	}
	.eightBreak {
		display: none;
	}
}


@media all and (min-width: 730px) and (max-width: 1459px) {
	.keySignature, .breakdown .breakdownNotation {
		height: 320px;
	}
	.fourBreak {
		display: none;
	}
	.sixteenBreak {
		display: none;
	}
}

@media all and (max-width: 729px){
	.keySignature, .breakdown .breakdownNotation {
		height: 640px;
	}
	.eightBreak {
		display: none;
	}
	.sixteenBreak {
		display: none;
	}
}
