* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

#playPause {
	width: 100px;
	height: 50px;
	text-align: center;
	cursor: pointer;
}

.playingIcon {
	margin: 10px;
}
.hide {
	visibility: hidden;
}

.horizontalCenter {
	display: flex;
	justify-content: center;
}
.verticalCenter {
	display: flex;
	align-items: center;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
td, th {
	width: 50px;
}

.playingIcon {
	width: 30px;
}
.playingIcon img {
	width: 100%;
}

.breakdown .keySignature {
	overflow: hidden;
	float: left;
	border-bottom: 1px solid #999999;
}
.breakdown .keySignature div {
	width: 40px;
	height: 80px;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
.breakdown .keySignature img {
	height: 100%;
}
.breakdown .breakdownNotation {
	line-height: 0;
	float: left;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.breakdownBarDiv {
	width: 80px;
	height: 80px;
	float: left;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
.breakdownBarDiv img {
	height: 100%;
}

#temporary {
	display: none;
}

.redFill {
	fill: red;
}

@media all and (min-width: 1460px) {
	.keySignature, .breakdown .breakdownNotation {
		height: 160px;
	}
	.fourBreak {
		display: none;
	}
	.eightBreak {
		display: none;
	}
}


@media all and (min-width: 730px) and (max-width: 1459px) {
	.keySignature, .breakdown .breakdownNotation {
		height: 320px;
	}
	.fourBreak {
		display: none;
	}
	.sixteenBreak {
		display: none;
	}
}

@media all and (max-width: 729px){
	.keySignature, .breakdown .breakdownNotation {
		height: 640px;
	}
	.eightBreak {
		display: none;
	}
	.sixteenBreak {
		display: none;
	}
}
