* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 460px;
}

#playPause {
	position: fixed;
	top: 0;
	left: 0;

	width: 100px;
	height: 50px;
	text-align: center;
	cursor: pointer;
}

.flexContainer {
	display: flex;
	justify-content: center;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

#breakdown .keySignature {
	overflow: hidden;
	float: left;
	border-bottom: 1px solid #999999;
}
#breakdown .keySignature div {
	width: 50px;
	height: 100px;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
#breakdown .keySignature img {
	height: 100%;
}
#breakdownNotation {
	line-height: 0;
	float: left;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.breakdownBarDiv {
	width: 100px;
	height: 100px;
	float: left;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
.breakdownBarDiv img {
	height: 100%;
}

#temporary {
	display: none;
}

@media all and (min-width: 1660px) {
	.keySignature, #breakdownNotation {
		height: 200px;
	}
	.fourBreak {
		display: none;
	}
	.eightBreak {
		display: none;
	}
}


@media all and (min-width: 860px) and (max-width: 1659px) {
	.keySignature, #breakdownNotation {
		height: 400px;
	}
	.fourBreak {
		display: none;
	}
	.sixteenBreak {
		display: none;
	}
}

@media all and (max-width: 859px){
	.keySignature, #breakdownNotation {
		height: 800px;
	}
	.eightBreak {
		display: none;
	}
	.sixteenBreak {
		display: none;
	}
}
